.webs {
  width: 100%;
  padding-top: 0.5rem;
}

.title {
  width: 100%;
  text-align: center;
}

.image img {
  width: 15%;
  margin: 0.2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #b580d1;
}

.active {
  background-color: #d7b9e4;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .image img {
    margin-top: 1rem;
    width: 13%;
  }
}
