.button {
  border: 0 solid transparent;
  background-color: #b580d1;
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  color: #e9edc9;
  width: 30%;
  height: 70px;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
}

.active {
  background-color: #d7b9e4;
  color: #b580d1;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 1rem;
  }
}
