.footer {
  background-color: #b580d1;
  color: #e9edc9;
}

.contact h3 {
  text-transform: uppercase;
  border-bottom: 0.2rem solid #e9edc9;
  padding-bottom: 0.8rem;
  width: 100%;
  text-align: center;
}

.footer i {
  color: #e9edc9;
  font-size: 1.5rem;
}

.contact section {
  width: 100%;
}
