@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9edc9;
}

.textCenter {
  text-align: center;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}