.profile {
  background-color: #b580d1;
  width: 100%;
  padding-top: 0.5rem;
  height: auto;
}

.profile p {
  text-align: left;
  padding: 0 2rem 0 2rem;
  color: #b580d1;
}

.profile ul {
  width: 90%;
}

.active {
  background-color: #d7b9e4;
}

.boxProfile {
  border: #b580d1 solid 0.2rem;
  margin: 0.5rem;
}

.textBox {
  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .profile {
    padding-top: 0;
    height: auto;
  }
  .profile p {
    width: 60%;
  }

  .profile ul {
    width: 60%;
    padding-bottom: 3rem;
  }

  .boxProfile {
    margin-top: 2rem;
    width: 30% !important;
    transition: 1s ease-in-out;
    margin-bottom: 1.5rem;
  }

  .boxProfile:hover {
    background-color: #b580d1;
    color: snow;
    transition: 0.8s ease-in-out;
  }
}
